
.background__404{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.background__404 h5{
    font-size: 20px;
    color: var(--color-muted);

}

.background__404--image{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
}