HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/application-private.yml
/src/test/
frontend-travel-blog/.gitignore
frontend-travel-blog/package-lock.json
frontend-travel-blog/package.json
frontend-travel-blog/README.md
frontend-travel-blog/public/article_blog.ico
frontend-travel-blog/public/blog_icon.ico
frontend-travel-blog/public/draw_line.ico
frontend-travel-blog/public/favicon.ico
frontend-travel-blog/public/index.html
frontend-travel-blog/public/logo192.png
frontend-travel-blog/public/logo512.png
frontend-travel-blog/public/manifest.json
frontend-travel-blog/public/robots.txt
frontend-travel-blog/src/App.css
frontend-travel-blog/src/App.js
frontend-travel-blog/src/App.test.js
frontend-travel-blog/src/index.css
frontend-travel-blog/src/index.js
frontend-travel-blog/src/reportWebVitals.js
frontend-travel-blog/src/setupTests.js
frontend-travel-blog/src/admin/Menu/Menu.css
frontend-travel-blog/src/admin/Menu/Menu.js
frontend-travel-blog/src/admin/body/AdminCategory/AdminCategory.css
frontend-travel-blog/src/admin/body/AdminCategory/AdminCategory.js
frontend-travel-blog/src/admin/body/AdminCategory/AdminCategoryForm.js
frontend-travel-blog/src/admin/body/AdminCategory/enum/category-apis.js
frontend-travel-blog/src/admin/body/AdminHome/AdminHome.css
frontend-travel-blog/src/admin/body/AdminHome/AdminHome.js
frontend-travel-blog/src/admin/body/AdminHome/enum/home-apis.js
frontend-travel-blog/src/admin/body/AdminPosts/AdminPosts.js
frontend-travel-blog/src/admin/body/AdminReports/AdminReportDetail.js
frontend-travel-blog/src/admin/body/AdminReports/AdminReports.css
frontend-travel-blog/src/admin/body/AdminReports/AdminReports.js
frontend-travel-blog/src/admin/body/AdminReports/enum/report-apis.js
frontend-travel-blog/src/admin/body/AdminUsers/AdminUsers.js
frontend-travel-blog/src/admin/body/AdminUsers/enum/user-apis.js
frontend-travel-blog/src/admin/header/AdminHeader.js
frontend-travel-blog/src/asset/editor-imgs/image.svg
frontend-travel-blog/src/asset/images/avatar.jpg
frontend-travel-blog/src/layouts/AdminLayout.js
frontend-travel-blog/src/layouts/UserLayout.js
frontend-travel-blog/src/real-time/useSocketDataObject.js
frontend-travel-blog/src/redux/store.js
frontend-travel-blog/src/redux/actions/authAction.js
frontend-travel-blog/src/redux/actions/commentAction.js
frontend-travel-blog/src/redux/actions/index.js
frontend-travel-blog/src/redux/actions/notificationAction.js
frontend-travel-blog/src/redux/actions/realtimeAction.js
frontend-travel-blog/src/redux/reducers/authReducer.js
frontend-travel-blog/src/redux/reducers/commentReducer.js
frontend-travel-blog/src/redux/reducers/index.js
frontend-travel-blog/src/redux/reducers/notificationReducer.js
frontend-travel-blog/src/redux/reducers/realtimeReducer.js
frontend-travel-blog/src/redux/reducers/tokenReducer.js
frontend-travel-blog/src/routes/index.js
frontend-travel-blog/src/routes/ScrollToTop.js
frontend-travel-blog/src/services/AxiosInterceptors.js
frontend-travel-blog/src/services/CookiesService.js
frontend-travel-blog/src/users/Body.js
frontend-travel-blog/src/users/body/auth/ActiveGmail.js
frontend-travel-blog/src/users/body/auth/auth.css
frontend-travel-blog/src/users/body/auth/ForgotPassword.js
frontend-travel-blog/src/users/body/auth/Login.js
frontend-travel-blog/src/users/body/auth/Register.js
frontend-travel-blog/src/users/body/auth/ResetPassword.js
frontend-travel-blog/src/users/body/auth/enum/authentication-apis.js
frontend-travel-blog/src/users/body/bookmark/Bookmarks.js
frontend-travel-blog/src/users/body/bookmark/enum/bookmark-apis.js
frontend-travel-blog/src/users/body/category/Category.js
frontend-travel-blog/src/users/body/category/enum/category-apis.js
frontend-travel-blog/src/users/body/home/home.css
frontend-travel-blog/src/users/body/home/Home.js
frontend-travel-blog/src/users/body/home/components/CommentPost.js
frontend-travel-blog/src/users/body/home/components/currentpost.css
frontend-travel-blog/src/users/body/home/components/CurrentPost.js
frontend-travel-blog/src/users/body/home/enum/home-apis.js
frontend-travel-blog/src/users/body/newPosts/newposts.css
frontend-travel-blog/src/users/body/newPosts/NewPosts.js
frontend-travel-blog/src/users/body/newPosts/enum/newpost-apis.js
frontend-travel-blog/src/users/body/notification/Notification.js
frontend-travel-blog/src/users/body/notification/withClickOutsideNotification.js
frontend-travel-blog/src/users/body/notification/enum/notification-apis.js
frontend-travel-blog/src/users/body/post/Post.css
frontend-travel-blog/src/users/body/post/Post.js
frontend-travel-blog/src/users/body/post/comments/Comments.js
frontend-travel-blog/src/users/body/post/comments/components/Comment.js
frontend-travel-blog/src/users/body/post/enum/comment-apis.js
frontend-travel-blog/src/users/body/post/enum/post-api.js
frontend-travel-blog/src/users/body/profile/EditProfile.js
frontend-travel-blog/src/users/body/profile/MyProfile.js
frontend-travel-blog/src/users/body/profile/Profile.css
frontend-travel-blog/src/users/body/profile/Profile.js
frontend-travel-blog/src/users/body/profile/ProfileWrapper.js
frontend-travel-blog/src/users/body/profile/withClickOutsideFollower.js
frontend-travel-blog/src/users/body/profile/components/PassPage.js
frontend-travel-blog/src/users/body/profile/enum/profile-apis.js
frontend-travel-blog/src/users/body/search/SearchPage.js
frontend-travel-blog/src/users/body/search/enum/search-apis.js
frontend-travel-blog/src/users/footer/footer.css
frontend-travel-blog/src/users/footer/Footer.js
frontend-travel-blog/src/users/header/header.css
frontend-travel-blog/src/users/header/Header.js
frontend-travel-blog/src/users/utils/ButtonUp/buttonup.css
frontend-travel-blog/src/users/utils/ButtonUp/ButtonUp.js
frontend-travel-blog/src/users/utils/Empty/Empty.js
frontend-travel-blog/src/users/utils/Empty/Empty.png
frontend-travel-blog/src/users/utils/Loading/Loading.css
frontend-travel-blog/src/users/utils/Loading/Loading.js
frontend-travel-blog/src/users/utils/NotFound/403.png
frontend-travel-blog/src/users/utils/NotFound/404.png
frontend-travel-blog/src/users/utils/NotFound/notFound.css
frontend-travel-blog/src/users/utils/NotFound/NotFound.js
frontend-travel-blog/src/users/utils/NotFound/NotPermission.js
frontend-travel-blog/src/users/utils/notification/ErrorNotification.js
frontend-travel-blog/src/users/utils/notification/notification.css
frontend-travel-blog/src/users/utils/notification/Notification.js
frontend-travel-blog/src/users/utils/notification/ToastNotification.js
frontend-travel-blog/src/users/utils/validation/Validation.js
/.envrc
/.env
