footer {
    padding-top: 30px !important;
    color: var(--color-muted);
    padding-bottom: 30px !important ;
}



/* .row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
} */

.footer--col {
    flex-basis: 50%;
}

.footer--col h5 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #eaecee;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

.footer--col h5::after {
    content: "";
    background-color: #3B5598;
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
}

.footer--col div {
    display: flex;
    margin: 10px 0;
}

.footer--col p span {
    font-weight: 600;
}

.footer--col div i {
    margin-right: 10px;
}

.footer--col a i{
    font-size: 20px;
}
.fa-facebook-square {
    color: #3B5598;
    
}
.fa-twitter-square {
    color: #55acee;
}

.fa-google-plus-square {
    color: #d85040;
}

.fa-youtube {
    color: red;
}

.fa-linkedin {
    color: #0a66c2;
}




