.cate-form {
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}

.form-title {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.cate-group-button {
    width: 135px;
    margin: auto;
    padding: 10px;
}

.ml-5 {
    margin-left: 5px;
}
