div {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}



.post__delete-dialog {
    border-top: 30px solid var(--color-deep-red);
    padding: 10px;
    width: 300px;
}

.post__report-delete-dialog--btn-container {
    display: flex;
    justify-content: flex-end;
}

.post__delete-dialog  h5 {
    font-size: 20px;
    color: var(--color-deep-red);
}


.post__delete-dialog p {
    margin: 5px 0 10px;
}


.post__alert--report {
    border-top: 30px solid var(--color-deep-yellow);
    width: 300px;
    padding: 10px;
}


.post__report-content {
    padding: 10px;
    outline: none;
    height: 100px;
    border: 1px solid;
    margin-bottom: 10px;
}

.post__alert-solve--dialog {
    border-top: 30px solid var(--color-primary);
    padding: 10px;
    width: 350px;
}



.post__category-area {
    display: flex;
    margin-bottom: 30px;
}

.post__category {
    font-size: 15px;
    padding: 1px 7px;
    margin-right: 7px;
    border: 1px solid #b3d7ff;
    background-color: #8e97ff ;
    border-radius: 3px;
}



.img-in-post {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
    margin-block: 30px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.bg-grey {
    background-color: #f2f5f5;
}



/* about author */
.about-author-img {
    border-radius: 50%;
    width: 64px;
    width: 64px;
    box-shadow: 0 2px 4px var(--button-shadow-color-normal),0 0 0 transparent;
}


.avatar-comment {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 15px;
    background-size: cover;
    float: left;
    background-position: center;
}

.inline-item {
    display: inline-block;
}

.block-item {
    display: block;
}

.follow-item {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 20px;
    display: inline-block;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 5px;
    display: inline-block;
}

.social-icon:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition-duration: 0.25s;
}

.content-area {
    font-size: medium;
    text-align: left;
    font-weight: 400;
}

.write-by {
    /* display: block;
    margin-top: 25px;
    margin-bottom: 25px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-write-by {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 15px;
    background-size: cover;
    float: left;
    background-position: center;
}

.name-write-by {
    display: block;
    margin: auto 0;
}

.date-write-by {
    font-size: small;
    margin: auto 0;

}

.post-content img{
    object-fit: contain !important;
    width: 100%;
}

/*====================== Comment================ */

.comment__title {
    align-items: center;
    display: flex;
}

.comment__title--name {
    font-weight: 600;
    margin: 0;
    color: black;
}

.comment__title--name a:hover {
    color: black !important;
}

.comment-hr {
    width: 10%;
    border: solid 2px;
}

.comment__content {
    width: 100%;
    font-size: 16px;
    word-break: break-all;
    white-space: pre-wrap;
}

.comment__like {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.comment__like i {
    font-size: 12px;
    margin-bottom: 4px;
}


.comment__like-btn {
    cursor: pointer;
    
}
.comment__like-btn:hover {
    color: var(--color-primary);
}

.comment__choose {
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.comment__choose-option {
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

.comment__choose-option:hover {
    background-color: rgba(199, 199, 199, 0.199);
}

.comment-form--edit{
    align-items: center;
    
}
.comment-form--edit input{
    background-color:#f0f2f5 ;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
    border: none ;
}
.comment-form--edit p {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-muted);
}


.comment-form--edit p:hover {
    color: var(--color-primary);
}


.comment__input-submit {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
    outline: none;
    font-size: 16px;
    padding: 10px;
    flex-grow: 1;
    background-color: #f0f2f5;
    height: auto;
    line-height: 24px;
    margin-bottom: 10px;
}

.comment__input-edit {
    flex-grow: 1;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    /* border: 1px solid rgb(225, 225, 225); */
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
    background-color: #f0f2f5;
    min-height: 30px;
    height: auto;
    line-height: 24px;
    margin-bottom: 10px;

}

.post__cmt--morecmt {
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    background-color: whitesmoke;
    padding: 10px 0;
    transition: 0.5s;
    color: var(--color-muted);

}

.post__cmt--morecmt:hover {
    background-color: rgba(199, 199, 199, 0.199);
}



.post__cmt--morecmt i {
    font-size: 12px;
    margin-left: 5px;
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}
/* 
@keyframes arrow {
    from{transform: translateY(-5px)}
    to{transform:translateY(0px)}
} */


/* ================MOST POPULAR================== */

.most-popular {
    padding: 30px;
    border: 1px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;
}

.most-popular:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition-duration: 0.25s;
}

.most-popular-hr {
    width: 30%;
    border: solid 2px;
}

.most-popular-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 20px;
}

.most-popular-title {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    width: 60%;
}

.most-popular-date {
    font-size: small;
    vertical-align: center;
    margin-right: 8px;
}

.post-view {
    position: relative;
}

.post-view-has-pot:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 25%;
    left: -8px;
}

.post-info {
    margin-bottom: 50px;
    border-radius: 10px;
    height: 150px;
    color: var(--color-muted);
}

.post-info p {
    font-size: 14px;
}

.post-info .child-1 {
    border-right: 1px solid var(--color-muted);
}



.post__title {
    font-weight: 500;
    color: var(--color-primary);
}


.post-info-count {
    font-size: 17px;
    display: flex;
    height: 60%;
}

.bookmark-count {
    flex-basis: 50%;
    margin: auto;
    text-align: center;
}

.post-info-button {
    height: 40%;
    display: flex;

}

.bookmark-btn {
    height: 40px;
    text-align: center;
    margin: 5px auto;
    font-size: 16px;
    outline: none  !important;
}

.comment-count {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    vertical-align: top;
}

.comment-area-title {
    border-bottom: 2px solid var(--color-muted);
    display: inline-block;
    margin-bottom: 20px;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}


@keyframes btnUp {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.comment__content--container {
    background-color: #f0f2f5;
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 5px;
}
