.admin__menu {
    width: 100%;
}


.admin__menu--infor {
    margin: 30px auto;
}


.admin__menu--avatar {
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
}

.admin__menu--name {
    margin: 20px auto;
    text-align: center;
}

.nav-item {
    border-bottom: 1px solid #f2f5f5;
}

.nav-item:hover {
    background-color: #f2f5f5;
    transform: scale(1.05);
    transition-duration: 0.25s;
}

.nav-link .active {
    background-color: #f2f5f5;
}

