/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600&display=swap'); */

* {
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */

    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    height: 100%;
}

html {
    scroll-behavior: smooth;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --color-background: #fafafa;
    --color-white: #fff;
    --color-primary: #5869DA;
    --color-muted: #687385;
    --box-shadow-normal: 0 10px 10px rgba(0, 0, 0, 0.08);
    --box-shadow-hover: 0 4px 60px 0 rgba(0, 0, 0, 0.2);
    --button-shadow-color-normal: hsla(0, 0%, 42.4%, 0.2);
    --color-deep-red: #A95252;
    --color-deep-yellow: #F59E0B;
    --color-gray: #D1D5DB;
    --color-deep-gray: #374151;
    --mutted-border-color: #eaecee;


}


a:hover {
    text-decoration: none;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;  
  border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}


.App {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.table thead th {
    white-space: nowrap;
}

@media (min-width: 992px) {
    .widget-area {
        padding-left: 30px;
    }
}

.text-12-px {
    font-size: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pd-15 {
    padding: 15px;
}

.pd-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.ml-15 {
    margin-right: 15px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-15 {
    margin-left: 20px;
}

.mt-15 {
    margin-top: 20px;
}

.align-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-50 {
    margin-top: 50px;
}


.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-5 {
    margin-right: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-30 {
    margin-left: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-10 {
    margin-left: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-30 {
    padding-top: 30px;
}

.p-30 {
    padding: 30px;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.button {
    padding: 5px 14px;
    border-radius: 10px;
    outline: none !important;
    transition: 0.3s;
    border: 1px solid;
    text-align: center;
}

.button-primary {
    border-color: var(--color-primary);
    background-color: white;
    color: var(--color-primary);
}

.button-primary-no-hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: white;
}

.button-primary:hover {
    background-color: var(--color-primary);
    color: white;
}

.button-red {
    border-color: var(--color-deep-red);
    background-color: white;
    color: var(--color-deep-red);
}

.button-red-no-hover {
    border-color: var(--color-deep-red);
    background-color: var(--color-deep-red);
    color: white;
}

.button-red:hover {
    background-color: var(--color-deep-red);
    color: white;
}

.button-warn {
    border-color: var(--color-deep-yellow);
    background-color: white;
    color: var(--color-deep-yellow);
}

.button-warn-no-hover {
    border-color: var(--color-deep-yellow);
    background-color: var(--color-deep-yellow);
    color: white;
}

.button-warn:hover {
    background-color: var(--color-deep-yellow);
    color: white;
}

.button-light {
    border-color: var(--color-gray);
    background-color: white;
    color: var(--color-deep-gray);
}

.button-light:hover {
    background-color: var(--color-gray);
}

.dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 2px rgba(131, 131, 131, 0.822);
    width: 400px;
}

@import url("./users/header/header.css");
@import url("./users/body/auth/auth.css");
@import url("./users/footer/footer.css");
/* @import url("./users//body/home/home.css"); */
@import url("./users/body/newPosts/newposts.css");
@import url("./users/utils/Loading/Loading.css");
