.main__home{
    background-color: var(--color-background);
    height: auto;
    box-sizing: content-box;
    padding-top: 50px;
}

.hieu-ung {
    box-shadow: 3px 3px 03px 0px rgba(0, 0, 0, 0.2);
}

.position-relative {
    position: relative;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}



.font-weight-900 {
    font-weight: 900;
}

.font-small {
    font-size: 12px;
}

.border-radius-5 {
    border-radius: 5px;
}

.slider {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 420px;
    color: #fff;
    transition: 0.5s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1) ;
    border-radius: 15px;
    
}


/* .slider:hover {
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.2);
} */

.slider:hover .post-content-overlay {
    transform: translate(0, -15px);
}




.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.arrow-cover {
    position: absolute;
    bottom: 30px;
    right: 15px;
    z-index: 99;
}

.arrow-cover .fal {
    font-size: 20px;
    cursor: pointer;
}

.arrow-cover .fa-long-arrow-left {
    margin-right: 10px;
}


.slider .post-content-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    transition-duration: 0.2s;
}


/* Card nho */

.post-card-1 {
    border: 1px solid #f0f8ff;
    position: relative;
    z-index: 12;
    transition: all .25s cubic-bezier(.02,.01,.47,1);
    position: relative;
    background: #fff;
    border-radius: 10px;
    height: 420px;
    /* height: 100%; */
}

.post-card-1::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
    left: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-normal),0 0 0 transparent;
    transition: all .25s cubic-bezier(.02,.01,.47,1);
    z-index: -1;
}

.post-card-1:hover{
    transform: translate(0, -5px);
    /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2); */
}


.post-card-1 .thumb-overlay {
    min-height: 220px;
    border-radius: 10px 10px 0 0;
}


.thumb-overlay::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom,transparent 50%,rgba(0,0,0,.8) 100%);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.img-hover-slide {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center  !important;
    min-height: 280px;
    overflow: hidden;
}

.post-card-1 .post-content {
    background: #fff;
    border-radius: 0 0 10px 10px;
    height: 200px;
}

.post-card-content {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 40px;
}

.post-title {
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
}

a {
    color: var(--color-muted);
    color: inherit;
}


/* Phan chu nho trong post-content */
.font-x-small {
    font-size: 9px;
}

.entry-meta {
    line-height: 1;
    color: #666;
}


.entry-meta.meta-1 span{
    margin-right: 10px;
}


span.has-dos {
    position: relative;
    padding-left: 10px;
}

.has-dos::before {
    content: "";
    width: 3px;
    height: 3px;
    background: #999;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: block;
    left: -3px;
    border-radius: 50%;
}

.img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


.list-style-1 .post-thumb .img-hover-slide{
    min-height: 150px;
}

.hover-up-2:hover {
    transform: translate(0, -5px);
}

.hover-up-1:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow-hover),0 0 0 transparent;
}

.transition-normal {
    transition: all .25s cubic-bezier(.02,.01,.47,1);
}

.list-style-1 .post-thumb:hover .img-hover-slide{
    background-position: 0 !important;
    transition: 0.5s;
}


/* ================PAGINATION ========*/
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item:last-child .page-link, .page-item:first-child .page-link {
    border-radius: 50%;
    background: none;
}

.page-link {
    cursor: pointer;
}

.page-item.active .page-link {
    z-index: 1;
    background-color: #007bff;
    border-radius: #007bff;
}

.pagination-area .page-link {
    border: 0;
    font-size: 13px;
    outline: 0;
    color: #889097;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    margin-right: 10px;
    box-shadow: 0 2px 4px var(--button-shadow-color-normal),0 0 0 transparent;
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.disabled {
    pointer-events:none; 
    opacity:0.6;         
}

.page-link:hover {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}


/* about author */
.about-author-img {
    border-radius: 50%;
    width: 64px;
    width: 64px;
    box-shadow: 0 2px 4px var(--button-shadow-color-normal),0 0 0 transparent;
}


/* author */

.author-info {
    padding: 30px;
    border: 1px;
    border-radius: 10px;
    background-color: white;
}

.author-name {
    text-align: left;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
    background-size: cover;
    float: left;
    background-position: center;
}

.post-count {
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}

.follower-count {
    text-align: center;
    display: block;
    
}

.avatar-comment {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 15px;
    background-size: cover;
    float: left;
}

.inline-item {
    display: inline-block;
}

.block-item {
    display: block;
}


.follow-item {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    margin-right: 20px;
    display: inline-block;
}


/* MOST POPULAR */
/* .most-popular {
    padding: 25px;
    border: 1px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 30px;
}

.most-popular:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition-duration: 0.25s;
} */

.most-popular-hr {
    width: 30%;
    border: solid 2px;
}


.post__popular {
    padding: 25px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: .5s;
    border: 1px solid var(--mutted-border-color);
}

.media-body {
    flex: 1;
}

.post__popular--image img {
    width: 90px;
    height: 80px;
}

.post__popular:hover {
    transform: translate(0, -5px);
}

.home__thumbnail--large {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
    object-fit:cover;
    background-blend-mode: saturation;
}

.home__thumbnail--large::before {
    background: linear-gradient(to bottom,transparent 50%,rgba(0,0,0,.8) 100%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.home__thumbnail--content {
    position: absolute;
    transition-duration: 0.2s;
    width: 70%;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}


.home__thumbnail--content h1 {
    color: white;
    margin-top: 5px !important;
}

.home__thumbnail--category {
    color: var(--color-primary)
}

.home__thumbnail--arrow {
    position: absolute;
    bottom: 30px;
    z-index: 99;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
}

.home__thumbnail--arrow i {
    cursor: pointer;
}

.home__thumbnail--arrow .fa-long-arrow-left {
    margin-right: 10px ;
}