.author__infor--count {
    justify-content: space-between;
}

.author__infor--count .count__div {
    text-align: center;
}

.editProfile__avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    /* margin: 15px auto; */
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.editProfile__avatar img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.editProfile__avatar span {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color:  var(--color-muted);
    transition: 0.3s  ease-in-out;
}

.editProfile__avatar:hover span {
    bottom: -15%;
}


.editProfile__avatar #file_up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}


.editProfile__avatar i {
    left: 35px;
    cursor: pointer;
}


.editProfile__choice {
    display: flex;
    flex-direction: column;
    
}

.editProfile__choice button {
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    padding: 10px;
    background-color: white;
    outline: none;
    border: none;
    border-right:3px solid var(--color-muted);
}

.editProfile__choice .active {
    color: var(--color-primary);
    font-weight: 600;
    border-right: 3px solid var(--color-primary);
}

.editProfile__field-warning {
    padding: 10px;
    width: 80%;
    background-color: var(--color-muted);
    color: white;
}
.editProfile__field-warning p {
    margin: 0 !important;
    font-weight: 400 !important;
}


.editProfile__field {
    margin-bottom: 25px;
}

.editProfile__field p {
    margin-bottom: 7px;
    font-weight: 600;
}

.editProfile__field input {
    outline: none;
    padding: 5px 25px ;
    width: 80%;
    border: 1px solid var(--color-muted);
    border-radius: 5px;
    color:  var(--color-muted);
}

.editProfile__field i {
    position: absolute;
    padding-top: 10px;
    padding-left: 6px;
    width: 20px;
    opacity: 0.5;
}

.editProfile__field textarea {
    width: 80%;
    padding: 5px 10px;
    height: 200px;
}


.myprofile__draft {
    width: 100%;
    height: 120px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 16px;
    padding: 16px;
    transition: 0.3s;
    box-shadow: 3px 3px 03px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author__social i {
    font-size: 20px;
    cursor: pointer;
}


.author__social .fa-instagram {
    color: brown;
    margin-right: 5px;
}

.myprofile__draft:hover {
    transform: translate(0, -3px);
}

.myprofile__draft button{
    padding: 2px 8px;
    
    background-color: var(--color-background);
    outline: none;
    border-radius:  10px;
}

.myprofile__draft button i {
    margin-right: 5px;
}


.myprofile__choice {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.myprofile__choice button {
    padding: 4px 3px;
    outline: none;
    border: 1px solid var(--color-muted);
    background-color: var(--color-background);
    color: var(--color-muted);
}

.myprofile__choice .child-2 {
    flex-basis: 50%;
    border-radius: 0 5px 5px 0;
}

.myprofile__choice .child-1 {
    flex-basis: 50%;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}

.myprofile__choice .active {
    border-top: 2px solid var(--color-primary);
    color: var(--color-primary);
}
.follower-count {
    cursor: pointer;
}

.profile__follower-dialog--container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    height: auto;
    padding: 10px 0;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 2px rgba(131, 131, 131, 0.822);
}

.profile__follower-dialog--header {
    padding: 0 10px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
}

.profile__follower-dialog--header i {
    cursor: pointer;
}

.profile__follower-dialog--header span {
    font-weight: 600;
}

.profile__follower-dialog--list {
    height: 300px;
    overflow-y: scroll;
}

.profile__follower-dialog--list-item {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    justify-content: space-between;
}


.profile__follower-dialog--left {
    display: flex;
    align-items: center;
}

.profile__follower-dialog--list-item span {
    margin-left: 15px;
}

.profile__follower-dialog--list-item span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profile__follower-dialog--avatar {
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}



@media screen and (max-width: 768px){
    .profile__follower-dialog {
        width: 350px;
    }
}


